.main{
	height: 100vh;
	width: 100vw;
	background-image: url("http://media.indiedb.com/images/games/1/15/14178/screenshot100.png");
	/*background-image: url("http://img09.deviantart.net/5f7f/i/2015/052/1/a/cinema_background_by_gazlan_sahmeiy-d8j17be.jpg");*/
	/*background-image: url("http://1.bp.blogspot.com/-o0t6pL2sVIs/UUruIDZ7RaI/AAAAAAAAFn0/bS7CG8FT4Ro/s1600/console-controller-retro-desktop-wallpaper2.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
}


.quote-box{
	width: 60vw;
	margin:auto;
	border: 1px solid white;
	border-radius: 30px;
	padding: 30px;
	margin-top: 15%;
	color: white;
}